@import "components/colors", "components/variables", "components/typography";
@import "sections/main-card", "sections/card-content", "sections/card-image";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  max-width: $desktop;
  background-color: $very-dark-blue;
  font-size: $body-font-size;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center; // y-axis
  justify-content: center; // x-axis
}
