@import "components/colors";
@import "components/typography";

$mobile: 375px;
$desktop: 1440px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  max-width: $desktop;
  background-color: $very-dark-blue;
  font-size: $body-font-size;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center; /* y-axis */
  justify-content: center; /* x-axis */
}

.card {
  display: flex;
  border: 2px solid white;
  background-color: $dark-desaturated-blue;
}

.card__content {
  display: flex;
  flex: 1 0 50%;

  &--header {
    h1 {
      color: $white;
    }
  }

  &--paragraph {
    p {
      color: $main-paragraph;
    }
  }

  &--stats {
    color: $stat-headings;

    span {
      color: $white;
    }
  }
}

.card__image {
  display: flex;
  flex: 1 0 50%;

  img {
    width: 100%;
    height: auto;
  }
}
