.card__content {
  display: flex;
  flex: 1 0 50%;
  background-color: $dark-desaturated-blue;
  flex-direction: column;
  padding: 90px 70px;

  @include mq(ipad) {
    padding: 20px 30px;
  }

  &--header {
    padding-bottom: 30px;

    @include mq(ipad) {
      text-align: center;
      padding: 15px;
    }

    h1 {
      color: $white;
      font-family: $Inter-font;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 290%;
    }

    span {
      color: $soft-violet;
    }
  }

  &--paragraph {
    padding-bottom: 20px;

    p {
      color: $main-paragraph;
      font-family: $Inter-font;
      font-weight: 400;
      font-size: 120%;
      padding-right: 5em;
      line-height: 1.75rem;

      @include mq(ipad) {
        padding: 0;
        line-height: 1.5em;
        font-size: 135%;
      }
    }
  }

  &--stats {
    color: $white;
    font-family: $Lexend-Deca-font;
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    column-gap: 1em;

    @include mq(ipad) {
      flex-direction: column;
    }

    span {
      color: $stat-headings;
      font-family: $Lexend-Deca-font;
      font-weight: 400;
      font-size: 50%;
      text-transform: uppercase;
    }
  }
}

.stat-one,
.stat-two,
.stat-three {
  display: flex;
  flex-direction: column;
  line-height: 1.1em;

  @include mq(ipad) {
    margin-bottom: 1.2rem;
  }
}

.stat-three {
  margin-right: 3em;

  @include mq(ipad) {
    margin: 0;
  }
}
